@media screen and (max-width: 768px) {}

#h1 {
  color: rgb(255, 255, 255);
}


#volti{
    background-color: rgb(255, 255, 255);
    font-family:initial;
   
    width: 100px;
    height: 40px;
   margin-left: 580px;
   margin-top: 20px;
}
#volti{
font-weight:bold
}


#descri{
    overflow-wrap: break-word;
    max-width: 70%;
    margin-top: -450px;
    margin-left: 360px;
}

#natu{
   margin-top: 450px
   
}

#nasci{
    
    margin-top: 250px
    
}

#nasci{
    
    margin-top: 20px
    
}


#jogos{
 
    margin-top: 250px
}

#altule{
 
    margin-top: 200px
}
#altule{
 
    margin-top: 20px
}

#jogos{
 
    margin-top: 20px
}
